## Final Project Submission

Please fill out:
* Student name: Pacificah Asamba
* Student pace: self paced / part time / full time - part time
* Scheduled project review date/time:  
* Instructor name: Madam Mwikali
* Blog post URL:

# 1. Import the relevant libraries

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## 2. Load the Data into a DataFrame Called `Aviation_data`

The file path is `data/Aviation_Data.csv`. Use pandas to read in the data from this CSV file and create a dataframe named `Aviation_data`.

In [10]:
#load the Aviation data csv file using pandas to a dataframe called Aviation_Data

Aviation_data = pd.read_csv('data/Aviation_Data.csv')
Aviation_data.head()   #run the .head() to view a sample of how our data looks like

c:\Users\Admin\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

# 3. Data understanding

### Now that we have read our data to a dataframe, we are going to get to understand our data. This is done by using various methods as below:

* 1. First we need to know the shape of the data by using the .shape function
* 2. Next we will check the various datatypes we have, the number of rows and columns and which columns have null values using the .info() method
* 3. To know the descriptive statistics we will use the .describe method

In [11]:
# To know the number of rows and columns, do a .shape
Aviation_data.shape

(90348, 31)

* From the above the dataset has 90,348 rows and 31 columns

In [12]:
#check the names of the columns
Aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [13]:
#using the .info()method for more data understanding
Aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

# info() method output analysis
1. The data is of class - pandas.core.frame.DataFrame
2. There are 90,348 entries(rows) from index 0 to 90,347
3. There are 31 columns
4. All columns except Investgation.Type have missing values
5. Twenty six columns have data of type 'object' and five columns have type float64

In [ ]:
#This gives the summary statistics for the data set for the numeric columns
Aviation_data.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [15]:
# Your code here - remember to use markdown cells for comments as well!

In [17]:
Aviation_data.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

In [26]:
Aviation_data.sample(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
21532,20001213X26895,Accident,MKC88LA177,1988-09-25,"OMAHA, NE",United States,NaN,NaN,OMA,EPPLEY,...,Personal,NaN,0.0,0.0,0.0,4.0,VMC,Approach,Probable Cause,12-07-1989
41695,20001208X07898,Accident,FTW97FA174,1997-05-03,"LAKE GEORGE, CO",United States,NaN,NaN,CO96,PERSONS,...,Personal,NaN,2.0,0.0,0.0,0.0,VMC,Approach,Probable Cause,10-04-1998
75167,20140409X60140,Accident,CEN14LA192,2014-04-09,"Littlefield, TX",United States,335437N,1021949W,LIU,Littlefield Taylor Brown Muni,...,Personal,NaN,1.0,0.0,0.0,0.0,VMC,NaN,The non-certificated pilot's in-flight loss of...,25-09-2020
61343,20061006X01483,Incident,NYC06IA226,2006-09-01,"Matinicus Islnd, ME",United States,43.873334,-68.894722,35ME,Matinicus Island Airport,...,NaN,Waters Aero-marine (dba: Penobscot Island Air),NaN,NaN,NaN,3.0,VMC,Standing,Probable Cause,28-02-2008
20934,20001213X26400,Accident,SEA88LA137,1988-07-23,"COEUR D'ALENE, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,2.0,0.0,VMC,Climb,Probable Cause,07-06-1989

# 4. Data cleaning
Now that we have loaded our data and understood it by applying some dataframe methods, we need to do some data cleaning. In this section I will be focussing on:
i. Those columns which have missing values
ii. Columns with invalid values
iii. Check for duplicates
iv.